@media screen and (min-width: 993px) {
  .superhero-dropdown {
    float: left;
    margin-right: 20px;
  }
  .superhero-dropdown >ul {
    margin: 0;
  }
  .superhero-dropdown >ul >li {
    margin: 0 10px 0 0;
    padding: 0;
  }
  .superhero-dropdown ul ul {
    opacity: 0;
    height: 0;
    position: absolute;
    min-width: 260px;
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    overflow: hidden;
    margin: 30px 0 0 0;
    padding: 0;
    transition: margin-top .3s, opacity .3s;
    -webkit-transition: margin-top .3s, opacity .3s;
		z-index:999;
  }
  .superhero-dropdown ul ul li {
    list-style: none;
    border-bottom: 1px solid #EEEEEE;
    margin: 0;
    position: relative;
  }
  .superhero-dropdown ul ul li.last {
    border-bottom: none;
  }
  .superhero-dropdown ul ul li a {
    line-height: 40px;
		font-size: 12px;
  }
  .superhero-dropdown ul ul ul {
    top: 0;
    left: 260px;
  }
  .superhero-dropdown > ul > li {
    display: inline-block;
    position: relative;
  }
	/*
  .superhero-dropdown > ul > li > a {
    line-height: 80px;
    transition: line-height .5s;
    -webkit-transition: line-height .5s;
  }
	*/
  .superhero-dropdown ul li:hover > ul {
    height: auto;
    opacity: 1;
    margin-top: 0;
    overflow: visible;
  }
  .superhero-dropdown a {
    display: block;
    padding: 0 20px;
    /*color: #888888;*/
    font-size: 15px;
  }
  /*.superhero-dropdown a:hover,
  .superhero-dropdown a.active {
    color: #EA7D0C;
  }*/
  .rtl .superhero-dropdown ul ul ul {
    left: -260px;
  }
  .main-menu-toggle {
    display: none;
  }
	.superhero-dropdown .menu-arrow{
		display:none;
	}
}
ul.menu {
  text-align: start;
}
/*@media screen and (max-width: 768px) {*/
@media screen and (max-width: 992px) {
  .superhero-dropdown {
    background: none repeat scroll 0 0 #333333;
    left: 0px;
    position: absolute;
    /*top: 100px;*/
    width: 100%;
		max-height: 0;
		overflow: hidden;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
		z-index: 999;
  }
  .superhero-dropdown.open {
    margin-top:20px;
    max-height: 10000px;   
  }
  .superhero-dropdown ul {
    margin: 0;
    padding: 0;
    /*border-top: 1px solid #3A3E3F;*/
  }
  .superhero-dropdown ul li {
    /*border-bottom: 1px solid #3A3E3F;*/
    list-style: none;
  }
  .superhero-dropdown ul li.last {
    border-bottom: none;
  }
  .superhero-dropdown ul li a {
    color: #868686;
    line-height: 38px;
  }
  .superhero-dropdown ul li a:hover,
  .superhero-dropdown ul li a.active {
    color: #EA7D0C;
  }
  .superhero-dropdown ul ul {
		max-height:0;
		overflow:hidden;
    margin-left: 15px;
		transition: max-height .3s, opacity .3s;
    -webkit-transition: max-height .3s, opacity .3s;
  }
	.superhero-dropdown ul ul.open {
		max-height:10000px;
	}
  .superhero-dropdown ul ul li {
    list-style: none;
    list-style-position: inside;
    white-space: pre;
		position: relative;
  }
  .superhero-dropdown ul ul li.expanded {
    background: none;
  }
  .main-menu-toggle {
    background: url("../images/drill-menu-bg.png") no-repeat scroll center center rgba(0,0,0,0);
    cursor: pointer;
    display: block;
    width: 35px;
    height: 26px;
    float: left;
    margin-right: 30px;
    height: 100px;
  }
	.superhero-dropdown .menu-arrow{
	background-color: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    height: 20px;
    line-height: 20px;
    margin: 10px;
    padding: 0 0 0 10px;
    width: 12px;
		position: absolute;
		right: 10px;
	}
	.superhero-dropdown > ul ul li:hover {
		background: none !important;
	}
}


@media screen and (max-width: 992px) {
    .superhero-dropdown ul, .superhero-dropdown ul li {
        margin: 0;
        padding: 0;
    }
    .superhero-dropdown {
        left: 0px;
        position: absolute;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        z-index: 999;
    }
    .superhero-dropdown.open {
        max-height: 10000px;   
    }
    .superhero-dropdown ul {
        margin: 0;
        padding: 0;
    }
    .superhero-dropdown ul li {
        list-style: none;
        position: relative;
    }
    .superhero-dropdown ul li.last {
        border-bottom: none;
    }
    .superhero-dropdown ul li a {
        display: inline-block;
        line-height: 40px!important;
        padding: 0 10px;
		color: #ccc !important;
    }
	.superhero-dropdown ul li a:hover,
	.superhero-dropdown ul li a.active	{
		color: #fff !important;
	}
    .superhero-dropdown ul ul {
        max-height:0;
        overflow:hidden;
        margin: 0 15px;
        transition: max-height .3s, opacity .3s;
        -webkit-transition: max-height .3s, opacity .3s;
    }
    .superhero-dropdown ul ul.open {
        max-height:10000px;
    }
    .superhero-dropdown ul ul li.expanded {
        background: none;
    }
    .main-menu-toggle {
        cursor: pointer;
        display: block;
        width: 35px;
        height: 26px;
        float: left;
        margin-right: 30px;
        height: 100px;
    }
    .superhero-dropdown .menu-arrow{
        background-color: #FFFFFF;
        border-radius: 3px;
        cursor: pointer;
        top: 10px;
        padding: 0 5px;
        width: 20px;
        position: absolute;
        text-align: center;
        right: 10px;
    }
    .superhero-dropdown > ul ul li:hover {
        background: none !important;
    }
}